$lightThemeBg: rgba(255, 255, 255, 1);
$darkThemeBg: rgba(13, 13, 13, 1);
$LightHeadline: rgba(13, 18, 32, 1);
$lightParagraph: rgba(110, 113, 121, 1);
$darkHeadline: rgba(179, 179, 179, 1);
$darkText: rgba(230, 230, 230, 1);
$blocksBgDark: rgba(36, 40, 51, 1);
$navItems: rgba(217, 217, 217, 1);
$buttonGreen: rgba(53, 204, 140, 1);
$backgroundBlocksLight: rgba(247, 247, 247, 1);
$lightGreyForTime: rgba(128, 128, 128, 1);
$greyForPlusMinusButtons: rgba(204, 204, 204, 1);
$lightGreenBg: rgba(219, 251, 237, 1);
$greyForSmallParagraph: rgba(101, 101, 101, 1);
$disabledGreenText: rgba(166, 233, 204, 1);
$darkIndicatorBG: rgba(62, 65, 77, 1);
$darkControlPanel: rgba(7, 54, 34, 1);