* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  /* Hide scrollbar for IE, Edge and Firefox */
}
* input {
  outline: none;
}
*::-webkit-scrollbar {
  display: none;
}
* {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

body {
  position: relative;
  margin: 0;
  background-color: rgb(255, 255, 255);
}
body .main {
  position: relative;
  display: flex;
  justify-content: center;
  width: 360px;
  height: 800px;
  margin: 0 auto;
}
body .main__appleButton {
  position: absolute;
  top: 35%;
  height: 200px;
  width: 200px;
  background: url(./image/appleFirstPic.png);
  border: none;
}
body .main__onboarding {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;
}
body .main__onboarding .main__onboardingContent .onboardingWrapper {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .main__onboarding .main__onboardingContent .onboardingWrapper .main__onboardingTextBox {
  width: 248px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}
body .main__onboarding .main__onboardingContent .onboardingWrapper .main__onboardingTextBox .main__onboardingH {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  color: rgb(13, 18, 32);
}
body .main__onboarding .main__onboardingContent .onboardingWrapper .main__onboardingTextBox .main__onboardingP {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.005em;
  text-align: center;
  color: rgb(110, 113, 121);
}
body .main__onboarding .main__onboardingContent .onboardingWrapper .main__onboardingNavBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
body .main__onboarding .main__onboardingContent .onboardingWrapper .main__onboardingNavBox .main__onboardingNavItem {
  height: 8px;
  width: 8px;
  border-radius: 100%;
  background-color: rgb(217, 217, 217);
  margin-top: 20px;
}
body .main__onboarding .main__onboardingContent .onboardingWrapper .main__onboardingNavBox .activeState {
  width: 24px;
  border-radius: 20px;
  background-color: rgb(53, 204, 140);
}
body .main__onboarding .main__onboardingContent .onboardingBox1 {
  display: flex;
}
body .main__onboarding .main__onboardingContent .onboardingBox2 {
  display: none;
}
body .main__onboarding .main__onboardingContent .onboardingBox3 {
  display: none;
}
body .main__onboarding .main__onboardingContent .onboardingBox4 {
  display: none;
}
body .main__onboarding .main__onboardingButtons {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
body .main__onboarding .main__onboardingButtons .main__onboardingSkipButton, body .main__onboarding .main__onboardingButtons .main__onboardingBackButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 33px;
  background: none;
  border: none;
  color: rgb(110, 113, 121);
  padding: 20px 30px;
}
body .main__onboarding .main__onboardingButtons .main__onboardingBackButton {
  display: none;
}
body .main__onboarding .main__onboardingButtons .main__onboardingNextButton {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border: none;
  background: rgb(53, 204, 140) url(./image/nextArrow.svg) no-repeat center;
}
body .main__onboarding .main__startButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: none;
}
body .main__onboarding .main__startButtons .main__startButton {
  height: 52px;
  width: 312px;
  border-radius: 10px;
  border: none;
  background-color: rgb(53, 204, 140);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  color: rgb(255, 255, 255);
}
body .main__onboarding .main__startButtons .main__startParagraph {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: rgb(13, 18, 32);
}
body .main__onboarding .main__startButtons .main__startParagraph .main__startLink {
  color: rgb(53, 204, 140);
  text-decoration: none;
}
body .main__requestingData {
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: none;
}
body .main__requestingData .main__requestingDataContainer {
  height: 422px;
}
body .main__requestingData .main__requestingDataContainer .main__requestingBox {
  height: 422px;
  width: 312px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body .main__requestingData .main__requestingDataContainer .main__requestingBox .requestingTextBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body .main__requestingData .main__requestingDataContainer .main__requestingBox .requestingTextBox .requestingHeadline {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  color: rgb(13, 18, 32);
}
body .main__requestingData .main__requestingDataContainer .main__requestingBox .requestingTextBox .requestingParagraph {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.005em;
  text-align: center;
  color: rgb(110, 113, 121);
  width: 290px;
}
body .main__requestingData .main__requestingDataContainer .main__requestingBox .requestingButtonsBox {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
body .main__requestingData .main__requestingDataContainer .main__requestingBox .requestingButtonsBox .requestingDataButton {
  height: 60px;
  width: 312px;
  background: none;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  color: rgb(13, 18, 32);
}
body .main__requestingData .main__requestingDataContainer .main__requestingBox .requestingChooseToolBox {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
}
body .main__requestingData .main__requestingDataContainer .main__requestingBox .requestingChooseToolBox .requestingChooseToolWrapper {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
body .main__requestingData .main__requestingDataContainer .main__requestingBox .requestingChooseToolBox .requestingChooseToolWrapper .requestingChoose {
  width: 70px;
  height: 150px;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
body .main__requestingData .main__requestingDataContainer .main__requestingBox .requestingChooseToolBox .requestingChooseToolWrapper .requestingChoose .picker {
  overflow-y: scroll;
  padding: 0px 10px;
  scroll-snap-type: y mandatory;
  display: flex;
  align-items: center;
  flex-direction: column;
}
body .main__requestingData .main__requestingDataContainer .main__requestingBox .requestingChooseToolBox .requestingChooseToolWrapper .requestingChoose .picker .pickerNums {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  scroll-snap-align: center;
  color: rgb(110, 113, 121);
}
body .main__requestingData .main__requestingDataContainer .main__requestingBox .requestingChooseToolBox .requestingChooseToolWrapper .requestingChoose .picker .pickerNumsActive {
  font-weight: bold;
  color: rgb(13, 18, 32);
}
body .main__requestingData .main__requestingDataContainer .main__requestingBox .requestingChooseToolBox .requestingChooseToolWrapper .requestingChoose .highlight {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-top: 2px solid rgb(53, 204, 140);
  border-bottom: 2px solid rgb(53, 204, 140);
}
body .main__requestingData .main__requestingDataContainer .main__requestingBox .requestingChooseToolBox .unit {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.005em;
  text-align: center;
  color: rgb(110, 113, 121);
  color: rgb(53, 204, 140);
}
body .main__requestingData .main__requestingDataContainer .main__requestingBox .requestingTextWeight {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
}
body .main__requestingData .main__requestingDataContainer .main__requestingBox .requestingTextWeight .inputWeight {
  height: 30px;
  width: 100px;
  border: none;
  border-bottom: 1px solid rgb(53, 204, 140);
  padding-left: 10px;
}
body .main__requestingData .main__requestingDataContainer .main__requestingBox .requestingTextWeight .weightParagraph {
  color: rgb(53, 204, 140);
}
body .main__requestingData .main__requestingDataContainer .main__requestingBox .requestingTextAge {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
}
body .main__requestingData .main__requestingDataContainer .main__requestingBox .requestingTextAge .inputAge {
  height: 30px;
  width: 100px;
  border: none;
  border-bottom: 1px solid rgb(53, 204, 140);
  padding-left: 10px;
}
body .main__requestingData .main__requestingDataContainer .main__requestingBox .requestingTextAge .ageParagraph {
  color: rgb(53, 204, 140);
}
body .main__requestingData .main__requestingDataContainer .main__requestingBox .requestingTextName {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .main__requestingData .main__requestingDataContainer .main__requestingBox .requestingTextName .inputName {
  height: 30px;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgb(53, 204, 140);
  padding-left: 10px;
}
body .main__requestingData .main__requestingDataContainer .main__requestingBox .requestingInfoBox {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
}
body .main__requestingData .main__requestingDataContainer .main__requestingBox .requestingInfoBox .normCalorieParagraph {
  height: 60px;
  width: 312px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.005em;
  text-align: center;
  color: rgb(110, 113, 121);
  color: rgb(255, 255, 255);
  background-color: rgb(53, 204, 140);
  border-radius: 10px;
}
body .main__requestingData .main__requestingDataContainer .requestingGoal {
  display: flex;
}
body .main__requestingData .main__requestingDataContainer .requestingGender {
  display: none;
}
body .main__requestingData .main__requestingDataContainer .requestingActivity {
  display: none;
}
body .main__requestingData .main__requestingDataContainer .requestingTall {
  display: none;
}
body .main__requestingData .main__requestingDataContainer .requestingWeight {
  display: none;
}
body .main__requestingData .main__requestingDataContainer .requestingAge {
  display: none;
}
body .main__requestingData .main__requestingDataContainer .requestingName {
  display: none;
}
body .main__requestingData .main__requestingDataContainer .requestingRecommendations {
  display: none;
}
body .main__requestingData .main__requestingDataButtons {
  width: 312px;
  position: relative;
  display: flex;
  justify-content: space-between;
}
body .main__requestingData .main__requestingDataButtons .requestingButtonBack {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.005em;
  text-align: center;
  color: rgb(110, 113, 121);
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 10px;
  background: none;
  border: none;
  display: none;
}
body .main__requestingData .main__requestingDataButtons .requestingButton {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border: none;
  background: rgb(53, 204, 140) url(./image/nextArrow.svg) no-repeat center;
  position: absolute;
  right: 0;
  bottom: 0;
}
body .main__homePage {
  display: flex;
  justify-content: center;
  width: 360px;
  height: 800px;
  display: none;
}
body .main__homePage .main__homePageBox {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
body .main__homePage .main__homePageBox .main__homePageHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-top: 20px;
}
body .main__homePage .main__homePageBox .main__homePageHeader .personBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
}
body .main__homePage .main__homePageBox .main__homePageHeader .calendarButton {
  height: 20px;
  width: 18px;
  background: url(./image/calendar.svg);
  border: none;
}
body .main__homePage .main__homePageBox .homePageHeadline {
  font-weight: 600;
  font-size: 12px;
  line-height: 14.5px;
  letter-spacing: 0%;
  text-align: left;
}
body .main__homePage .main__homePageBox .nutrientsIndicatorBlock {
  width: 328px;
  height: 144px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  background-color: rgb(247, 247, 247);
  border-radius: 10px;
}
body .main__homePage .main__homePageBox .nutrientsIndicatorBlock .pfcBox {
  display: flex;
  gap: 24px;
  margin-top: 16px;
}
body .main__homePage .main__homePageBox .nutrientsIndicatorBlock .pfcBox .pfcBlock {
  position: relative;
  height: 44px;
  width: 85.33px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
body .main__homePage .main__homePageBox .nutrientsIndicatorBlock .pfcBox .pfcBlock .pfcText {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: center;
}
body .main__homePage .main__homePageBox .nutrientsIndicatorBlock .pfcBox .pfcBlock .pfcIndicator {
  height: 4px;
  width: 100%;
  border-radius: 5px;
  background-color: rgb(204, 204, 204);
}
body .main__homePage .main__homePageBox .nutrientsIndicatorBlock .pfcBox .pfcBlock .colorIndicator {
  position: absolute;
  top: 20px;
  left: 0;
  height: 4px;
  border-radius: 5px;
  background-color: rgb(53, 204, 140);
}
body .main__homePage .main__homePageBox .nutrientsIndicatorBlock .pfcBox .pfcBlock .proteins {
  background-color: rgb(229, 101, 113);
}
body .main__homePage .main__homePageBox .nutrientsIndicatorBlock .pfcBox .pfcBlock .fats {
  background-color: rgb(255, 160, 114);
}
body .main__homePage .main__homePageBox .nutrientsIndicatorBlock .pfcBox .pfcBlock .carbs {
  background-color: rgb(89, 255, 196);
}
body .main__homePage .main__homePageBox .nutrientsIndicatorBlock .caloriesBox {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 304px;
  margin-bottom: 16px;
}
body .main__homePage .main__homePageBox .nutrientsIndicatorBlock .caloriesBox .caloriesText {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: center;
}
body .main__homePage .main__homePageBox .nutrientsIndicatorBlock .caloriesBox .caloriesIndicator {
  height: 4px;
  border-radius: 5px;
  background-color: rgb(204, 204, 204);
}
body .main__homePage .main__homePageBox .nutrientsIndicatorBlock .caloriesBox .colorIndicator {
  position: absolute;
  top: 23px;
  left: 0;
  height: 4px;
  border-radius: 5px;
  background-color: rgb(53, 204, 140);
}
body .main__homePage .main__homePageBox .waterIntakeBlock {
  height: 132px;
  width: 328px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(247, 247, 247);
  border-radius: 10px;
}
body .main__homePage .main__homePageBox .waterIntakeBlock .waterIntakeWrapper {
  display: flex;
  justify-content: space-between;
  height: 100px;
  width: 296px;
  margin: 16px 0;
}
body .main__homePage .main__homePageBox .waterIntakeBlock .waterIntakeWrapper .waterIntakeTextBlock {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body .main__homePage .main__homePageBox .waterIntakeBlock .waterIntakeWrapper .waterIntakeTextBlock .waterIntakeTextBox {
  height: 20px;
}
body .main__homePage .main__homePageBox .waterIntakeBlock .waterIntakeWrapper .waterIntakeTextBlock .waterIntakeTextBox .waterIntakeText {
  width: 69px;
}
body .main__homePage .main__homePageBox .waterIntakeBlock .waterIntakeWrapper .waterIntakeTextBlock .waterIntakeTextTime {
  font-weight: 400;
  font-size: 12px;
  line-height: 14.5px;
  letter-spacing: 0%;
  text-align: center;
  color: rgb(128, 128, 128);
}
body .main__homePage .main__homePageBox .waterIntakeBlock .waterIntakeWrapper .waterIntackeButtonAndIndicatorBlock {
  display: flex;
  align-items: center;
  gap: 16px;
}
body .main__homePage .main__homePageBox .waterIntakeBlock .waterIntakeWrapper .waterIntackeButtonAndIndicatorBlock .plusMinusButtonsBlock {
  height: 72px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body .main__homePage .main__homePageBox .waterIntakeBlock .waterIntakeWrapper .waterIntackeButtonAndIndicatorBlock .plusMinusButtonsBlock .plusMinusButton {
  height: 24px;
  width: 24px;
  border-radius: 30px;
  border: none;
}
body .main__homePage .main__homePageBox .waterIntakeBlock .waterIntakeWrapper .waterIntackeButtonAndIndicatorBlock .plusMinusButtonsBlock .plus {
  background: url(./image/plus.svg) rgb(204, 204, 204) center no-repeat;
}
body .main__homePage .main__homePageBox .waterIntakeBlock .waterIntakeWrapper .waterIntackeButtonAndIndicatorBlock .plusMinusButtonsBlock .minus {
  background: url(./image/minus.svg) rgb(204, 204, 204) center no-repeat;
}
body .main__homePage .main__homePageBox .waterIntakeBlock .waterIntakeWrapper .waterIntackeButtonAndIndicatorBlock .waterIntackeIndicator {
  height: 100px;
  width: 40px;
  background-color: rgb(53, 204, 140);
  border-radius: 30px;
}
body .main__homePage .main__homePageBox .homePageHeadlineBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .main__homePage .main__homePageBox .homePageHeadlineBlock .plusButton {
  height: 24px;
  width: 24px;
  border-radius: 30px;
  border: none;
  background: url(./image/plus.svg) center no-repeat;
}
body .main__homePage .main__homePageBox .mealsBlock {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
body .main__homePage .main__homePageBox .mealsBlock .mealbox {
  height: 89px;
  width: 328px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(247, 247, 247);
  border-radius: 10px;
}
body .main__homePage .main__homePageBox .mealsBlock .mealbox .meal {
  height: 57px;
  width: 296px;
  display: flex;
  flex-direction: column;
  gap: 21px;
}
body .main__homePage .main__homePageBox .mealsBlock .mealbox .meal .mealHead {
  display: flex;
  justify-content: space-between;
}
body .main__homePage .main__homePageBox .mealsBlock .mealbox .meal .mealHead .mealName {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: center;
}
body .main__homePage .main__homePageBox .mealsBlock .mealbox .meal .mealHead .calories {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.005em;
  text-align: center;
  color: rgb(110, 113, 121);
  font-weight: 500;
  color: rgb(13, 18, 32);
}
body .main__homePage .main__homePageBox .mealsBlock .mealbox .meal .mealTime {
  display: flex;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.5px;
  letter-spacing: 0%;
  text-align: center;
  color: rgb(128, 128, 128);
}
body .main__homePage .main__homePageBox .controlPanel {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 50px;
  height: 74px;
  width: 330px;
  background-color: rgb(219, 251, 237);
  border-radius: 10px;
}
body .main__homePage .main__homePageBox .controlPanel .controlPanelElem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
body .main__homePage .main__homePageBox .controlPanel .controlPanelElem .controlPanelParagraph {
  color: rgb(53, 204, 140);
}
body .main__mealPage {
  position: absolute;
  width: 360px;
  height: 800px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  display: none;
}
body .main__mealPage .mealHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 312px;
  margin-top: 40px;
}
body .main__mealPage .mealHead .mealButtons {
  height: 24px;
  width: 24px;
  border: none;
  background: none;
}
body .main__mealPage .mealHead .closeBtn {
  background: url(./image/clear.svg) center no-repeat;
}
body .main__mealPage .mealHead .createBtn {
  background: url(./image/plus.svg) center no-repeat;
}
body .main__mealPage .mealHead .mealNameP {
  height: 24px;
  width: 180px;
  border: none;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  color: rgb(13, 18, 32);
  font-size: 18px;
}
body .main__mealPage .mealCaloriesBlock {
  width: 328px;
  display: flex;
  padding-bottom: 16px;
  border-bottom: 1px solid rgb(217, 217, 217);
}
body .main__mealPage .mealCaloriesBlock .mealCaloriesElem {
  width: 82px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
body .main__mealPage .mealCaloriesBlock .mealCaloriesElem .mealCaloriesNum {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  color: rgb(13, 18, 32);
  font-size: 16px;
}
body .main__mealPage .mealCaloriesBlock .mealCaloriesElem .mealCaloriesP {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0%;
  color: rgb(13, 18, 32);
}
body .main__mealPage .eatenMealsBlock {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 6px;
}
body .main__mealPage .eatenMealsBlock .mealFoodBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 328px;
}
body .main__mealPage .eatenMealsBlock .mealFoodBox .mealFoodWrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 304px;
  margin-left: 12px;
}
body .main__mealPage .eatenMealsBlock .mealFoodBox .mealFoodWrapper .mealFoodH {
  font-weight: 600;
  font-size: 12px;
  line-height: 14.5px;
  letter-spacing: 0%;
  text-align: center;
  color: rgb(13, 18, 32);
}
body .main__mealPage .eatenMealsBlock .mealFoodBox .mealFoodWrapper .mealFoodP {
  font-weight: 400;
  font-size: 12px;
  line-height: 14.5px;
  letter-spacing: 0%;
  text-align: center;
  color: rgb(110, 113, 121);
}
body .main__mealPage .eatenMealsBlock .mealFoodBox .deleteArea {
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3px;
}
body .main__mealPage .eatenMealsBlock .mealFoodBox .deleteArea .deleteItem {
  height: 3px;
  width: 3px;
  background-color: black;
  border-radius: 50%;
}
body .main__mealPage .saveMealButton {
  position: fixed;
  bottom: 40px;
  height: 52px;
  width: 328px;
  background-color: rgb(53, 204, 140);
  color: rgb(255, 255, 255);
  border-radius: 10px;
  border: none;
}
body .main__searchFood {
  position: absolute;
  width: 360px;
  height: 800px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  display: none;
}
body .main__searchFood .searchBarBox {
  width: 312px;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .main__searchFood .searchBarBox .backSearchButton {
  height: 64px;
  width: 24px;
  background: url(./image/bigArrow.svg) center no-repeat;
  padding: 0 20px;
  border: none;
}
body .main__searchFood .searchBarBox .searchInput {
  height: 34px;
  width: 224px;
  border: none;
  outline: none;
}
body .main__searchFood .searchBarBox .clearSearchButton {
  height: 64px;
  width: 24px;
  background: url(./image/clear.svg) center no-repeat;
  padding: 0 20px;
  border: none;
}
body .main__searchFood .foodContainer {
  height: 500px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
body .main__searchFood .foodContainer .foodBox {
  height: 52px;
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
body .main__searchFood .foodContainer .foodBox .foodH {
  width: 328px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0%;
  color: rgb(13, 18, 32);
}
body .main__searchFood .foodContainer .foodBox .foodP {
  width: 328px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.5px;
  letter-spacing: 0%;
  color: rgb(101, 101, 101);
}
body .calendar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
body .calendar .calendarItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 541px;
  width: 328px;
  background-color: rgb(247, 247, 247);
  border-radius: 10px;
}
body .calendar .calendarItem .calendarHead {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-bottom: 1px solid lightgray;
}
body .calendar .calendarItem .calendarHead .calendarP {
  height: 16px;
  width: 292px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: rgb(13, 18, 32);
}
body .calendar .calendarItem .calendarHead .calendarH {
  height: 40px;
  width: 292px;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: rgb(13, 18, 32);
}
body .calendar .calendarItem .calendarNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  width: 304px;
}
body .calendar .calendarItem .calendarNav .monthAndYear {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 10px;
}
body .calendar .calendarItem .calendarNav .monthAndYear .calendarP {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: center;
  border: none;
  background-color: inherit;
}
body .calendar .calendarItem .calendarNav .navigation {
  display: flex;
  align-items: center;
}
body .calendar .calendarItem .calendarNav .navigation .backButtonCalendar, body .calendar .calendarItem .calendarNav .navigation .nextButtonCalendar {
  height: 48px;
  width: 48px;
  border: none;
  background-color: inherit;
  background: url(./image/arrow.svg) center no-repeat;
}
body .calendar .calendarItem .calendarNav .navigation .nextButtonCalendar {
  background: url(./image/arrow.svg) center no-repeat;
  transform: rotate(180deg);
}
body .calendar .calendarItem .daysName {
  height: 48px;
  width: 304px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .calendar .calendarItem .daysName .days {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 43.43px;
}
body .calendar .calendarItem .nums {
  display: flex;
  gap: 1px;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  margin-left: 12px;
}
body .calendar .calendarItem .nums .num {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 43.43px;
}
body .calendar .calendarItem .nums .empty {
  height: 48px;
  width: 43.43px;
}
body .calendar .calendarItem .nums .currentDate {
  border: 1px solid rgb(53, 204, 140);
  border-radius: 50%;
  color: rgb(53, 204, 140);
}
body .calendar .calendarItem .nums .activeDate {
  background-color: rgb(53, 204, 140);
  border-radius: 50%;
  color: white;
}
body .calendar .calendarItem .buttonsCancelAndOkBox {
  height: 57px;
  width: 304px;
  display: flex;
  justify-content: end;
  gap: 8px;
}
body .calendar .calendarItem .buttonsCancelAndOkBox .calendarCancelOkBtn {
  border: none;
  background-color: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: center;
  color: rgb(53, 204, 140);
  padding: 12px;
}
body .eatenAmountForm {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
body .eatenAmountForm .eatenAmountFormBox {
  height: 238px;
  width: 328px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(247, 247, 247);
  border-radius: 10px;
}
body .eatenAmountForm .eatenAmountFormBox .eatenAmountFormWrapper .eatenAmountH {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  color: rgb(13, 18, 32);
  font-size: 18px;
  margin-top: 16px;
}
body .eatenAmountForm .eatenAmountFormBox .eatenAmountFormWrapper .caloriesBlock {
  display: flex;
  width: 308px;
  height: 41px;
  margin: 18px 0 12px 0;
}
body .eatenAmountForm .eatenAmountFormBox .eatenAmountFormWrapper .caloriesBlock .caloriesElem {
  height: 41px;
  width: 77px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
body .eatenAmountForm .eatenAmountFormBox .eatenAmountFormWrapper .caloriesBlock .caloriesElem .caloriesNum {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.005em;
  text-align: center;
  color: rgb(110, 113, 121);
  font-weight: 500;
  color: rgb(13, 18, 32);
}
body .eatenAmountForm .eatenAmountFormBox .eatenAmountFormWrapper .caloriesBlock .caloriesElem .caloriesP {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.005em;
  text-align: center;
  color: rgb(110, 113, 121);
  font-size: 14px;
  color: rgb(13, 18, 32);
}
body .eatenAmountForm .eatenAmountFormBox .caloriesValueBlock {
  display: flex;
  align-items: end;
  justify-content: center;
  gap: 12px;
  width: 184px;
  height: 52px;
  margin-bottom: 36px;
}
body .eatenAmountForm .eatenAmountFormBox .caloriesValueBlock .eatenAmountGrams {
  height: 32px;
  width: 100px;
  background: none;
  border: none;
  border-bottom: 2px solid rgb(53, 204, 140);
  padding-left: 16px;
}
body .eatenAmountForm .eatenAmountFormBox .caloriesValueBlock .eatenAmountGramsP {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.005em;
  text-align: center;
  color: rgb(110, 113, 121);
  color: rgb(53, 204, 140);
}
body .eatenAmountForm .eatenAmountFormBox .caloriesButtonsBlock {
  height: 17px;
  width: 284px;
  display: flex;
  justify-content: end;
  gap: 32px;
}
body .eatenAmountForm .eatenAmountFormBox .caloriesButtonsBlock .caloriesCancelOkBtn {
  background: none;
  border: none;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  color: rgb(13, 18, 32);
  font-size: 14px;
  color: rgb(53, 204, 140);
}/*# sourceMappingURL=style.css.map */