* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll_container {
    width: 300px;
    height: 150px;
    border-radius: 10px;
    border: 1px solid black;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

}

.option_container {
    overflow-y: scroll;
    padding: 0px 10px;
    scroll-snap-type: y mandatory;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.weight_option {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    scroll-snap-align: center;
}

.highlight{
    position: absolute;
    z-index: -1;
    background: gray;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-top: 2px solid green;
    border-bottom: 2px solid green;
}

/* .point{
    width: 4px;
    height: 4px;
    background: black;
    position: fixed;
    top: 370px;
    left: 220px;
} */